* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #121212, #1f1f1f);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #ffd700;
}

p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #ccc;
}

.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 25px 20px;
  font-weight: bold;
  transition: 0.3s;
}

.icon-top {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ffd700;
  font-weight: bold;
  transition: 0.3s;
}

.top-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: #eee;
}


.divider {
  height: 1px;
  background-color: #555;
  margin: 20px 0;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.option {
  flex: 1;
  text-align: center;
}

.option a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
  display: inline-block;
}

.option i {
  font-size: 26px;
  margin-bottom: 5px;
  display: block;
}

.option span {
  font-size: 13px;
}

.option a:hover {
  color: #ffd700;
  transform: scale(1.05);
}

.button a {
  display: inline-block;
  background-color: #ffd700;
  color: #1a1a1a;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.button a:hover {
  background-color: #e6c200;
}